body {
    background-color: #282828;
    color: #ebdbb2;
}

/*Linker*/
a:any-link {
    color:tomato;
}

a:hover {
    background-color: tomato;
    color: #282828;
}

/*Normalt Bilde*/
img.norm {
    width: 800px;
    height: 500px;
    float: right;
    margin: 15px;
    padding: 10px;
}

/*Header og navigering*/
#header {
    position: sticky;
    top: -6px;
    color: tomato;
    background-color: #383838;
    margin: -6px;
    padding: 0;
    border-bottom: 1px solid #383838;
}

h1 {
    text-shadow: 3px 3px 3px #282828;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
}

img.logo {
    width: 60px;
    height: 60px;
    float: left;
    margin:0;
    padding: 0;
}

li.nav {
    float: left;
    border-right: 1px solid #383838;
}


li a {
    background-color:#282828;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    text-align: center;

}

li.dropd {
    position: relative;
    display: inline-block;
  }
  
.dropd-ting {
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 100px;
    box-shadow: 0px 5px 10px 0px black;
    z-index: 1;
  }
  
.dropd:hover .dropd-ting {
    display: block;
  }

.dropd-ting a {
    color: tomato;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
.dropd-ting a:hover {
    color:#282828;
}
  
.dropd-btn {
    background-color: #282828;
    color: tomato;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.dropd:hover .dropd-btn {
    background-color: tomato;
    color: #282828;
  }


/*Produkt Galleri*/

div.galleri {
    margin: 5px;
    border: 1px solid #ff6347;
    float: left;
    width: 180px;
  }
  
  div.galleri:hover {
    border: 1px solid #ff7a63;
  }
  
  div.galleri img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.gpos {
    display:flow-root;
    margin-bottom: 10px;
}

